# CREATE TABLE

Create a new table in a database.

### Syntax

CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

* The column parameters specify the names of the columns of the table.
* The datatype parameter specifies the type of data the column can hold (e.g. varchar, integer, date, etc.).

## CREATE TABLE Using Another Table

* A copy of an existing table can also be created using CREATE TABLE.
* The new table gets the same column definitions. All columns or specific columns can be selected.
* If you create a new table using an existing table, the new table will be filled with the existing values from the old table.

### Syntax

CREATE TABLE new_table_name AS
    SELECT column1, column2,...
    FROM existing_table_name
    WHERE ....;

# ALTER TABLE

Add, delete, or modify columns in an existing table, or add and drop various constraints on an existing table.

## ALTER TABLE - ADD 

Add a column in a table

### Syntax 

ALTER TABLE table_name
ADD column_name datatype; 

## ALTER TABLE - DROP COLUMN

Delete a column in a table (notice that some database systems don't allow deleting a column).

### Syntax 

ALTER TABLE table_name
DROP COLUMN column_name; 

## ALTER TABLE - MODIFY COLUMN

Change the data type of a column in a table

### Syntax 

ALTER TABLE table_name
MODIFY COLUMN column_name datatype;

# DROP TABLE

Drop an existing table in a database.

### Syntax

DROP TABLE table_name;

# TRUNCATE TABLE

Delete the data inside a table, but not the table itself.

### Syntax

TRUNCATE TABLE table_name;

# DESCRIBE TABLE

Show the structure of a table.

### Syntax

DESCRIBE table_name;

## Examples

In [9]:
import pymysql

# Connection params
host = 'localhost'
port = int(3306)
user = 'root'
pwd = ''
db = 'northwind'
charset = 'utf8mb4'
cursorType = pymysql.cursors.DictCursor

try:
    # Create connection object
    conn = pymysql.connect(host=host, port=port, user=user, passwd=pwd, db=db, charset=charset, cursorclass=cursorType) 
 
    # Cerate a cursor object
    cursor = conn.cursor()
    
    # Execute SQL statement
    cursor.execute('CREATE TABLE TestUsers (id int, LastName varchar(32), FirstName varchar(32), DepartmentCode int)')
    
    # Execute SQL statement
    cursor.execute('CREATE TABLE TestEmployees AS SELECT id, company, last_name, first_name, job_title FROM Employees;')

    # Execute SQL query
    cursor.execute('SHOW TABLES;')

    # Print query result
    for i in cursor.fetchall():
        print(i)
    
    # Execute SQL statement
    cursor.execute('ALTER TABLE TestUsers ADD DepartmentName varchar(50);')
    
    # Execute SQL query
    cursor.execute('DESCRIBE TestUsers;')

    # Print query result
    print('\n')
    for i in cursor.fetchall():
        print(i)    
    
    # Execute SQL statement
    cursor.execute('ALTER TABLE TestUsers DROP COLUMN DepartmentName;')
    
    # Execute SQL query
    cursor.execute('DESCRIBE TestUsers;')

    # Print query result
    print('\n')
    for i in cursor.fetchall():
        print(i)  
    
    # Execute SQL statement
    cursor.execute('ALTER TABLE TestEmployees MODIFY COLUMN first_name TEXT(50);')
                   
    # Execute SQL query
    cursor.execute('DESCRIBE TestEmployees;')

    # Print query result
    print('\n')
    for i in cursor.fetchall():
        print(i)
                   
    # Execute SQL statement
    cursor.execute('DROP TABLE TestUsers;')
    
    # Execute SQL statement
    cursor.execute('DROP TABLE TestEmployees;')

    # Execute SQL query
    cursor.execute('SHOW TABLES;')

    # Print query result
    print('\n')
    for i in cursor.fetchall():
        print(i)                   
    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    conn.close()

{'Tables_in_northwind': 'customers'}
{'Tables_in_northwind': 'employee_privileges'}
{'Tables_in_northwind': 'employees'}
{'Tables_in_northwind': 'inventory_transaction_types'}
{'Tables_in_northwind': 'inventory_transactions'}
{'Tables_in_northwind': 'invoices'}
{'Tables_in_northwind': 'order_details'}
{'Tables_in_northwind': 'order_details_status'}
{'Tables_in_northwind': 'orders'}
{'Tables_in_northwind': 'orders_status'}
{'Tables_in_northwind': 'orders_tax_status'}
{'Tables_in_northwind': 'privileges'}
{'Tables_in_northwind': 'products'}
{'Tables_in_northwind': 'purchase_order_details'}
{'Tables_in_northwind': 'purchase_order_status'}
{'Tables_in_northwind': 'purchase_orders'}
{'Tables_in_northwind': 'sales_reports'}
{'Tables_in_northwind': 'shippers'}
{'Tables_in_northwind': 'strings'}
{'Tables_in_northwind': 'suppliers'}
{'Tables_in_northwind': 'testemployees'}
{'Tables_in_northwind': 'testusers'}


{'Field': 'id', 'Type': 'int(11)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'LastName', 'Type': 'varchar(32)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'FirstName', 'Type': 'varchar(32)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'DepartmentCode', 'Type': 'int(11)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'DepartmentName', 'Type': 'varchar(50)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}


{'Field': 'id', 'Type': 'int(11)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'LastName', 'Type': 'varchar(32)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'FirstName', 'Type': 'varchar(32)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'DepartmentCode', 'Type': 'int(11)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}


{'Field': 'id', 'Type': 'int(11)', 'Null': 'NO', 'Key': '', 'Default': '0', 'Extra': ''}
{'Field': 'company', 'Type': 'varchar(50)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'last_name', 'Type': 'varchar(50)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'first_name', 'Type': 'tinytext', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'job_title', 'Type': 'varchar(50)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}


{'Tables_in_northwind': 'customers'}
{'Tables_in_northwind': 'employee_privileges'}
{'Tables_in_northwind': 'employees'}
{'Tables_in_northwind': 'inventory_transaction_types'}
{'Tables_in_northwind': 'inventory_transactions'}
{'Tables_in_northwind': 'invoices'}
{'Tables_in_northwind': 'order_details'}
{'Tables_in_northwind': 'order_details_status'}
{'Tables_in_northwind': 'orders'}
{'Tables_in_northwind': 'orders_status'}
{'Tables_in_northwind': 'orders_tax_status'}
{'Tables_in_northwind': 'privileges'}
{'Tables_in_northwind': 'products'}
{'Tables_in_northwind': 'purchase_order_details'}
{'Tables_in_northwind': 'purchase_order_status'}
{'Tables_in_northwind': 'purchase_orders'}
{'Tables_in_northwind': 'sales_reports'}
{'Tables_in_northwind': 'shippers'}
{'Tables_in_northwind': 'strings'}
{'Tables_in_northwind': 'suppliers'}